$layout-breakpoint-sm: 672px;
$layout-breakpoint-md: 800px;
$layout-breakpoint-base: 960px;
$layout-breakpoint-lg: 1200px;
$layout-breakpoint-xl: 1480px;

.products {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.filter-wrap {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.filter {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 25px;
  text-transform: capitalize;
  transition: all ease-in 0.1s;
  cursor: pointer;
  &:hover {
    background: rgb(70, 70, 70);
    background: linear-gradient(
      90deg,
      rgba(70, 70, 70, 1) 0%,
      rgba(59, 59, 59, 1) 0%,
      rgba(24, 24, 24, 1) 99%
    );
    color: #fff;
  }
}
.filter-active {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 25px;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  background: rgb(70, 70, 70);
  background: linear-gradient(
    90deg,
    rgba(70, 70, 70, 1) 0%,
    rgba(59, 59, 59, 1) 0%,
    rgba(24, 24, 24, 1) 99%
  );
}

.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #fff;
  box-shadow: 24px;
  padding: 4rem;
}

@media (max-width: $layout-breakpoint-sm) {
  .filter-wrap {
    flex-direction: column;
    gap: 4px;
  }
  .modal-inner {
    width: 400px;
  }
}
@media (max-width: $layout-breakpoint-md) {
  .modal-inner {
    width: 600px;
  }
  .products {
    margin-top: 20px;
  }
}
