.text {
  background: linear-gradient(to right, #181818 80%, #959393 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 600;
  h1 {
    display: inline;
  }
}

.hero-wrap {
  position: absolute;
  right: 60px;
  top: -100px;
  z-index: -1;
}

.hero-bg {
  position: absolute;
  right: 1px;
  top: 0px;
  width: 511px;
  height: 800px;
  background-color: #fff;
  z-index: -2;
}

.hero-shadow--first {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 515px;
  height: 830px;
  background-color: #e8e8e8;
  z-index: -3;
}
.hero-shadow--second {
  position: absolute;
  right: 30px;
  top: 35px;
  width: 510px;
  height: 810px;
  background-color: #f2f2f2;
  z-index: -4;
}
